@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #ebe5c5;
    --cor1: #fdd17f;
    --cor2: #ffb01c;
    --cor3: #dd9510;
    --cor4: #D97C0B;
    --cor5: #b86a0b;
    
    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', serif;
    --fonte-subtítulo: Montserrat, cursive;
}

body {
    font-family: var(--fonte-padrão);
    background-color: var(--cor0);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    background-color: var(--cor3);
    text-align: center;
    padding-top: 40px;
    min-height: 150px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.298);
}

header > p {
    color: white;
    padding-bottom: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.291);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.164);
}
a {
    text-decoration: none;
    color: white;
    font-family: var(--fonte-padrão);
}
nav > a {
    margin-left: 10px;
    transition-duration: .3s;
    color: var(--cor1);
    border-radius: 5px;
    font-weight: bold;
}

nav > a:hover {
    color: var(--cor5);
    background-color: var(--cor3);
    padding: 5px;
}

main {
    background-color: white;
    margin: auto;
    padding: 30px;
    min-width: 320px;
    max-width: 800px;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.462);
}

main h1 {
    color: var(--cor3);
    font-family: var(--fonte-destaque);
    font-size: 3em;
}

main h2 {
    font-family: var(--fonte-subtítulo);
    color: var(--cor2);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    margin: 10px 0px;
    padding: 5px;
    
}

 main p {  /* se colocarmos o ">" não vai pegar nos "p" de article, aside e etc. */
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 1.2em;
    font-size: 1.1em;
}

main img {
    width: 100%;
}


article > img {
    max-width: 700px;
    display: block;
    margin: auto;
    
}

article > footer {
    margin: 20px 0px;
}

aside {
    background-color: var(--cor3);
    margin-top: 10px;
    padding: 10px;
    border-top-left-radius: 10px;
}

aside > h3 {
    background-color: var(--cor5);
    margin: -10px ;
    margin-bottom: 10px;
    padding: 5px;
    border-top-left-radius: 10px;
}

footer {
    background-color: var(--cor5);
}
